@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face(BigNoodleToo, fonts/BigNoodleToo);
@include font-face(Futura, fonts/Futura);
@include font-face(BigNoodleTooOblique, fonts/BigNoodleTooOblique);

.main-content {
  background: url(background.png) no-repeat;
  background-color: #293347;
  font-family: BigNoodleToo;
  color: #f0edf2;
  padding: 25px;
  min-height: 1250px;

}

.statsTable {
  width: 100%;
  background-color: rgba(24, 34, 62, .7);

  td, th {
    padding: 5px;
    text-align: center;
    font-size: 20px;

    text-shadow: .1rem .2rem .2rem rgba(51, 51, 51, .3);

    font-family: Futura;
  }

  th {
    cursor: pointer;

    &.asc, &.desc {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;

      .sort-caret {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-top: 5px;
        margin-left: 5px;
      }
    }

    &.desc {
      .sort-caret {
        border-top: 5px solid #f0edf2;
      }

    }

    &.asc {
      .sort-caret {
        border-bottom: 5px solid #f0edf2;
      }

    }
  }

}


.mode-header {
  font-size: 50px;
  text-align: center;
  font-family: BigNoodleTooOblique;
}

.table-container {
  margin-bottom: 30px;
}

.title-container {
  background: url(title-white.png) no-repeat;
  background-size: contain;
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
}

.header-subtitle {
  margin-top: 0px;
  text-align: center;
}

.table-header, .chart-header {
  display: inline-block;
  float: left;
  font-family: BigNoodleTooOblique;
  font-size: 50px;
  display: none;
}

.toggle {
  display: inline-block;
  float: left;
  width: 170px !important;
  height: 45px !important;
  margin-bottom: 15px;

  .toggle-group {
    height: 45px !important;
  }

  .btn {
    height: 100%;
    font-size: 36px;
    line-height: 45px;
    padding: 0px 12px;
  }
}

.select-container {
  min-width: 300px;
  position: relative;
  display: inline-block;
  float: right;
  //height: 45px;
  //top: 20px;

  .dropdown-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: Futura, century gothic, arial, sans-serif;
    text-transform: uppercase;
    color: #f0edf2;
    font-size: 36px;
    background-color: transparent;
    border: 1px solid #f0edf2;
    border-radius: 3px;
    z-index: 1;
    padding: 0 15px;

    option {
      color: black;
    }

    &:after {
      display: inline-block;
      content: '';
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #f0edf2;
      margin-left: 10px;
    }
  }

  .dropdown-menu {
    width: 100%;

    a {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 24px;
    }
  }
}

#categorySelect, #chartSelect {
  font-size: 36px;
  font-family: BigNoodleTooOblique;
}

/*.dropdown_styled {
  position: absolute;
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 4px 20px 4px 8px;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
  color: #f0edf2;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #f0edf2;
  border-radius: 3px;
  z-index: 1;

  option {
    color: black;
  }
}

.dropdown_styled:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 6px;
  height: 0;
  margin-top: 3px;
  width: 0;
  border: 6px solid #ccc;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}*/

.chart-container {
  margin-top: 30px;
  clear: both;

  .select-container {
    margin-bottom: 15px;
  }
}

.chart {
  margin-top: 10px;
  padding-left: 50px;
  overflow-x: visible;
  width: 100%;
  margin: 0 auto;
  clear: both;

  .bar {
    position: relative;
    display: flex;
    justify-content: flex-start;

    padding: .3rem;
    border-radius: .4rem;
    background-color: rgba(24, 34, 62, .7);
    margin: 5px 0;

    font-size: 30px;

  }

  .name-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 8px;
    left: -70px;

    font-size: 30px;

    color: #f0edf2;
    text-shadow: .1rem .2rem .2rem rgba(51, 51, 51, .3);

  }

  .rect {
    text-align: right;
    padding-right: 10px;
    padding-left: 5px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-shadow: .1rem .2rem .2rem rgba(51, 51, 51, .3);

    border-radius: .4rem;

    min-width: 20px;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
  }

  .Scott {
    box-shadow: rgb(39, 120, 226) 0px 0.2rem 0px 0px inset;
    background-color: rgb(27, 101, 198);
  }

  .Jay {
    box-shadow: rgb(130, 175, 95) 0px 0.2rem 0px 0px inset;
    background-color: rgb(110, 153, 77);
  }
  .Frank {
    box-shadow: rgb(95, 100, 114) 0px 0.2rem 0px 0px inset;
    background-color: rgb(76, 80, 92);
  }

  .Sauce {
    box-shadow: rgb(255, 123, 40) 0px 0.2rem 0px 0px inset;
    background-color: rgb(255, 98, 0);
  }

  .Rizzo {
    box-shadow: rgb(250, 164, 67) 0px 0.2rem 0px 0px inset;
    background-color: rgb(248, 145, 27);
  }

  .Dan {
    box-shadow: rgb(152, 254, 42) 0px 0.2rem 0px 0px inset;
    background-color: rgb(132, 254, 1);
  }

  .Yoseph {
    box-shadow: rgb(138, 138, 189) 0px 0.2rem 0px 0px inset;
    background-color: rgb(111, 111, 174);
  }

  .Nick {
    box-shadow: rgb(170, 69, 69) 0px 0.2rem 0px 0px inset;
    background-color: rgb(141, 57, 57);
  }

  .Andy {
    box-shadow: rgb(117, 136, 195) 0px 0.2rem 0px 0px inset;
    background-color: rgb(88, 112, 182);
  }

  .Steve {
    box-shadow: rgb(255, 168, 224) 0px 0.2rem 0px 0px inset;
    background-color: rgb(255, 127, 209);
  }
}

.bar * {
  display: inline-block;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.1);
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    height: 46px;

    display: flex;
    justify-content: flex-end;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }

  .toggle {
    width: 100% !important;
  }

  #categorySelect {
    margin-bottom: 15px;
  }

  .select-container {
    width: 100%;

    .dropdown-toggle {
      //font-size: 30px;
    }
  }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .chart {
    padding-left: 75px;
  }

}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
